@font-face {
    font-family: "Noto Sans";
    src: url(../fonts/NotoSans-VariableFont_wdth\,wght.ttf) format('truetype');
    font-weight: 100 300 500;
    font-style: normal;
}

.sheet.padding-5mm { padding: 5mm }

p {
    margin: 0;
}

.card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    min-width: 70mm;
    min-height: 55mm;
    max-width: 70mm;
    max-height: 55mm;
    border: 1mm solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
}

.text {
    font-family: "Noto Sans";
    font-weight: 500;
}

.product-name {
    font-size: 18pt;
    text-align: center;
    flex-grow: 2;
    white-space: pre-line;
}

.product-description {
    font-size: 18pt;
    text-align: center;
    flex-grow: 2;
    white-space: pre-line;
}

.product-description-small {
    font-size: 14pt;
}

.brigadeiro-logo {
    max-width: 14mm;
    min-width: 14mm;
    flex-grow: 1;
    margin-top: 2mm;
}

.decorations {
    max-width: 28mm;
    min-width: 28mm;
    flex-grow: 1;
}

.decorations:last-child {
    margin-bottom: 2mm;
}